body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f0eb;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: flex-end;
  margin-top: 50px;
}
.login a {
  color: #524d25;
}
.login a:hover {
  color: #6c5e2d;
}

.bar-container {
  display: flex;
  gap: 10px;
  transform: rotate(180deg);
  margin-right: 50px;
  position: relative;
}

.bar {
  position: relative;
}

.book1 {
  width: 70px;
  height: 280px;
  border-radius: 15px;
  background-color: #6e211b;
  border: 6px solid #531a15;
}

.book2 {
  width: 100px;
  height: 360px;
  border-radius: 15px;
  background-color: #bb5610;
  border: 6px solid #a0451a;
}

.book3 {
  width: 360px;
  height: 530px;
  border-radius: 15px;
  background-color: #aaa45a;
  border: 6px solid #524d25;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.book4 {
  width: 200px;
  height: 610px;
  border-radius: 15px;
  background-color: #c98116;
  border: 6px solid #bb5610;
}
.login {
  transform: rotate(180deg);
}
.pot-container {
  position: relative;
}

.plant {
  background-image: url('.././plantv2.svg');
  width: 400px;
  height: 524px;
}
.text-container {
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
}
