body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f0eb;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: flex-end;
  margin-top: 50px;
}
.login a {
  color: #ffa500;
}
.login a:hover {
  color: #ff4500;
}

.bar-container {
  display: flex;
  gap: 10px;
  transform: rotate(180deg);
  margin-right: 50px;
  position: relative;
}

.bar {
  position: relative;
}

.book1 {
  width: 70px;
  height: 280px;
  border-radius: 15px;
  background-color: #ff4500;
}

.book2 {
  width: 100px;
  height: 360px;
  border-radius: 15px;
  background-color: #ffa500;
}

.book3 {
  width: 360px;
  height: 530px;
  border-radius: 15px;
  background-color: #3d348b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.book4 {
  width: 200px;
  height: 610px;
  border-radius: 15px;
  background-color: #ff4500;
}
.login {
  transform: rotate(180deg);
}
.pot-container {
  position: relative;
}

.plant {
  background-image: url('.././plant.svg');
  width: 400px;
  height: 524px;
  transform: scaleX(-1);
}
.text-container {
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
}
