.Loan-list {
  .loan-list-container {
    width: 80%;
    margin: 0 auto;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .loan-list-item {
    width: 250px;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .loan-cover-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 8px;
  }

  .loan-list-title {
    text-align: center;
    margin-bottom: 24px;
    font-weight: 500;
    color: #333;
  }

  .expanded-content {
    margin-left: 80px;
  }
}
