body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.book-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.book-list-item {
  display: flex;
  align-items: center;
}

.book-cover-image {
  width: 70px;
  height: auto;
  border-radius: 8px;
  margin-right: 16px;
}

.expanded-content {
  margin-left: 80px;
}
