.book-detail-container {
  margin-top: 20px;
  margin-right: 60px;
  margin-left: 60px;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
}

.current-book {
  height: 700px;
  width: 1400px;
  margin-bottom: 20px;
}
.book-info {
  width: 700px;
}
.top {
  margin-left: 16px;
}
.book-cover {
  width: 240px;
  height: 350px;
  object-fit: cover;
}
.related {
  margin-top: 20px;
}
